PORT=4000

INDEXER_HOST=localhost
INDEXER_PORT=9200
INDEXER_USER=admin
INDEXER_PASS=THAY_BANG_PASSWORD_THAT_CUA_BAN

MANAGER_HOST=localhost
MANAGER_PORT=55000
MANAGER_USER=wazuh-wui
MANAGER_PASS=THAY_BANG_PASSWORD_THAT_CUA_BAN

JWT_SECRET=doi_chuoi_nay_thanh_chuoi_ngau_nhien_dai_va_kho_doan

ADMIN_USERNAME=admin
ADMIN_PASSWORD=DoiPasswordNayTruocKhiChayThat123
